/*fundamentals*/
:root{
    --text-color: white !important;
    --bg-color:#5CDB95 !important;
    --main-color: #05386b !important;
    --other-color:#EDF5E1 !important;
    --h1-font: 4.5rem !important;
    --h2-font: 2.9rem !important;
    --p-font: 1.3rem !important;
  
  }
  /*navbar*/
.navbar-custom{
    background-color: var(--bg-color);
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link
{
    color: var(--main-color);
}
.navbar-custom .nav-link{
    font-size: var(--p-font);
}
.navbar-brand{
    font-size: var(--h2-font);
}

/*body*/
body{
    background-color: var(--bg-color) !important;
    font-family: monospace;
}
.banner-row{
    padding: 50px;
}
.navbar-brand-text{
    color: var(--other-color);
}
.htext1{
    font-size: var(--p-font);
    color: var(--main-color);
}
.htext2{
    color: var(--main-color);
    font-size: var(--h2-font);
}
.htext3{
    color: var(--other-color);
    font-size: var(--h1-font);
}
.laptop-icon{
    font-size: 20rem !important;
}
.banner-col{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-img{
    border-radius: 50%;
}
.underline{
    display: flex;
    align-items: center;
    justify-content: center;
}
.underliner{
    color: var(--main-color);
    border-style: solid;
    border-radius: 20px;
    width: 100px;
}
.infolist li{
    text-align: center;
    list-style-type: none;
}
.title{
    color: var(--other-color);
    font-size: 2rem;
}
.banner-buttons{
    background-color: var(--main-color);
    padding: 10px;
    margin: 10px;
}
.custom-link{
    text-decoration: none;
    color: var(--bg-color);
}
.custom-link :hover{
    color: var(--main-color);
    background-color: var(--other-color);
}
.home-name{
    color: var(--other-color);
}
.brand-name{
    color: var(--other-color);
    font-size: 2rem;
}

/*footer*/
.footer-icon{
    color: var(--other-color);
}
.footer-row{
    text-align: center;
}
.footer-info,
.social-icon
{
    color: var(--main-color);
}
.footer-info{
    font-size: 1rem;
}
.social-icon{
    font-size: 1.5rem;
}
.social-icon:hover{
    color: var(--bg-color);
    background-color: var(--other-color);
}

/* contact */
.submit-btn{
    background-color: var(--main-color);
    color: var(--bg-color);
}
.submit-btn:hover{
    background-color: var(--other-color);
    color: var(--main-color);
}
.form-label{
    color: var(--main-color);
    font-size: var(--h2-font);
    display: flex;
    align-items: center;
    justify-content: center;
}
/*about*/
.about-title{
    color: var(--main-color);
}
.about-info{
    color: var(--main-color);
}
.about-list{
    list-style-type: none;
}
.cv-btn{
    background-color: var(--main-color);
    color: var(--bg-color);
}
.cv-btn:hover{
    background-color: var(--other-color);
    color: var(--main-color);
}
.about-img{
    border-radius: 50px;
}
.img-link{
    color: var(--bg-color);
    background-color: var(--main-color);
    border-radius: 20px;
}
.gh-link :hover{
    color: var(--bg-color);
    background-color: var(--other-color);
    text-decoration: none;

}
.skills{
    text-align: center;
    color: var(--main-color);
}
.skill-title{
    font-size: var(--h2-font);
}
.skill-attribute{
    text-align: center;
    color: var(--main-color);
    font-size: var(--p-font);
}
.progress-bar{
    background-color: var(--main-color);
    color: var(--bg-color);
}
.abt-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}